*.log
*.csv
.github/workflows/
*.yml
##/arb_data/
arb_data/
**/arb_data blank/
arb_data blank/
**/market_view_data/
market_view_data/
**/nfl_data/
nfl_data/
**/nba_data/
nba_data/
**/mlb_data/
mlb_data/



nhl_data/
models/
logs/
tests/
users/
nohup.out
__pycache__/
.DS_Store
react_frontend/node_modules/*
Additional_Files.zip
for_murph_dogg.xt
react_frontend/build/
react_frontend/node_modules/
react_frontend/build/main.js
react_frontend/build/main.js
react_frontend/build/main.js.map
react_frontend/build/main.js.map
react_frontend/node_modules/.cache/.eslintcache
test_req.txt
react_frontend/build/main.js.map
.eslintcache
node_modules/
*.csv
